{% extends '@AcMarchePatrimoine/layout.html.twig' %}

{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Images de {{ patrimoine }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <input type="submit" name="search" value="Ajouter" class="btn btn-primary my-1 mr-sm-2">

            {{ form_end(form) }}

        </div>
        <div class="card-footer">
            <a href="{{ path('patrimoine_show',{'id': patrimoine.id}) }}">
                <i class="fas fa-long-arrow-alt-left"></i> Retour à au patrimoine
            </a>
        </div>
    </div>
{% endblock %}
