{% extends '@AcMarchePatrimoine/layout.html.twig' %}

{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Images de {{ patrimoine }}</h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'attr': {'id': 'formdrop','class': 'mt-3 dropzone', 'data-controller': 'dropzone'}}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('patrimoine_show',{'id': patrimoine.id}) }}">
                <i class="fas fa-long-arrow-alt-left"></i> Retour à au patrimoine
            </a>
        </div>
    </div>
{% endblock %}
