{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-row">

    <div class="col-3">
        {{ form_row(form.nom) }}
    </div>

    <div class="col-3">
        {{ form_row(form.localite) }}
    </div>

    <div class="col-3">
        {{ form_row(form.statut) }}
    </div>

    <div class="col-3">
        {{ form_row(form.typePatrimoine) }}
    </div>

    <input type="submit" name="search" value="Rechercher" class="btn btn-primary">
</div>
{{ form_end(form) }}
<br/>
