{% extends '@Patrimoine/layout.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/patrimoine/js/lightGallery/dist/css/lightgallery.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body -%}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>{{ patrimoine }}</h3>
        </div>
        <div class="card-body">

            {% include '@Patrimoine/patrimoine/_actions.html.twig' %}

            <table class='table table-bordered table-hover'>
                <tbody>
                <tr>
                    <th>Ancienne photo</th>
                    <td>
                        {% if patrimoine.photo %}
                            <a href="{{ patrimoine.photo }}" target="_blank">
                                <img class="img-thumbnail"
                                     src="{{ patrimoine.photo }}" style="width: 150px;"
                                     alt="img"/>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ patrimoine.statut }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ patrimoine.typePatrimoine }}</td>
                </tr>
                <tr>
                    <th>Localité</th>
                    <td>{{ patrimoine.localite }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>{{ patrimoine.statut }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ patrimoine.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ patrimoine.longitude }}</td>
                </tr>
                </tbody>
            </table>

            {% include '@Patrimoine/patrimoine/_images.html.twig' %}
            {% include '@Patrimoine/patrimoine/_carte.html.twig' %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {#
    <script src="{{ asset('bundles/patrimoine/js/lightGallery/dist/js/lightgallery.min.js') }}"
            crossorigin="anonymous"></script>
    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="{{ asset('bundles/patrimoine/js/lightGallery/lib/jquery.mousewheel.min.js') }}"></script>
    <!-- lightgallery plugins -->
    <script src="{{ asset('bundles/patrimoine/js/lightGallery/modules/lg-fullscreen.min.js') }}"></script>
    <script src="{{ asset('bundles/patrimoine/js/lightGallery/modules/lg-zoom.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightgallery").lightGallery({
                    'selector': '.card-jf'
                }
            );
        });
    </script>
    #}
{% endblock %}
